---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from "../components/FormattedDate.astro";
import ImageCarousel from "../components/preact/ImageCarousel.tsx";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<BaseLayout title={title} description={description} >
    <style lang="scss">
        .title {
            font-size: 2em;
            margin: 0.25em 0 0;
        }

        hr {
            border-top: 1px solid #ddd;
            margin: 1rem 0;
        }
        .last-updated-on {
            font-style: italic;
        }
    </style>
    <article>
        {
            heroImage && heroImage.length > 0 &&
            <ImageCarousel client:idle images={heroImage}/>
        }
        <h1 class="title">{title}</h1>
        <FormattedDate date={pubDate} />
        {
            updatedDate && (
                        <div class="last-updated-on">
                            Zuletzt bearbeiten am <FormattedDate date={updatedDate} />
                        </div>
            )
        }
        <hr />
        <slot />
    </article>
</BaseLayout>
